<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92623667761-4b5vjn3a22k2sivl7tloeeqv5698pmj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92623667761-4b5vjn3a22k2sivl7tloeeqv5698pmj2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>92623667761-tqmnpi2k3iatj54ok5s49624sh4epkkl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCqdOzNZ8WDCDjHnKl5WpEnQXnyRKo-cM</string>
	<key>GCM_SENDER_ID</key>
	<string>92623667761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jabriraed.freezyCorp</string>
	<key>PROJECT_ID</key>
	<string>freezycorp-6aa4c</string>
	<key>STORAGE_BUCKET</key>
	<string>freezycorp-6aa4c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92623667761:ios:8d77a26ada750d7acc8b10</string>
</dict>
</plist>